
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

//$iconSpritePath: "/images/glyphicons-halflings.png" !default;
//$iconWhiteSpritePath: "/images/glyphicons-halflings-white.png" !default;
//
//@import "bootstrap";
//@import "bootstrap-responsive";

$fa-font-path: "/fonts" !default;

@import "font-awesome";

//
// from the BootStrap example site

//body {
//  padding-top: 60px;
//  padding-bottom: 40px;
//}
//
//@media (max-width: 980px) {
//  /* Enable use of floated navbar text */
//  .navbar-text.pull-right {
//    float: none;
//    padding-left: 5px;
//    padding-right: 5px;
//  }
//}

body {
  font-family: Helvetica;
  font-size: 32px;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-image: url(/images/piments.jpg);
  background-color: black;
  background-repeat: no-repeat;
}

a {
  color: white;
  text-decoration: none;
  &:hover { opacity: 0.7; }
}

h1 {
  font-size: 300%;
}

.slide {
  width: 800px;
  margin: 0 auto;
  //text-align: center;
}

